.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 360px;
  padding: 0 0.5rem;
  margin: 0 auto;
  gap: 0.5rem;
  z-index: var(--modal-zIndex);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-70%) scale(0.6);
  transition: visibility 0ms ease var(--transition-base-timing),
    opacity var(--transition-base-timing),
    transform var(--transition-base-timing);
}
.show-modal {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: visibility 0ms, opacity var(--transition-base-timing),
    transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.3);
}
.modal-close-btn {
  margin-left: auto;
  font-size: 1.25rem;
  transition: var(--transition-base-timing) ease;
  color: var(--white);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--clr-p-orange);
}
.modal-close-btn:active {
  transform: scale(0.9);
}
.modal .main-img {
  height: 350px;
  aspect-ratio: 1;
  position: relative;
}
.modal .slide-images {
  transform: scale(0.9);
  transition: opacity 1s ease, transform 1s ease, visibility 0ms ease 1s;
}
.modal .active {
  transform: scale(1);
  transition: visibility 0ms ease, opacity 1s ease, transform 1s ease;
}
.modal .product-item__mini-images {
  margin-top: 1.5rem;
}
.modal .main-img img {
  border-radius: var(--br-main);
}
.modal .main-img button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev,
.next {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white);
  font-size: 1.3rem;
}
.prev svg,
.next svg {
  transition: var(--transition-base-timing) ease;
}
.prev:hover,
.prev:focus-visible,
.next:hover,
.next:focus-visible {
  color: var(--clr-p-orange);
}

.prev {
  left: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
}
.next {
  right: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
}
