html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --base-ff: "Kumbh Sans", sans-serif;
  --base-font-size: 1rem;
  --base-line-height: 1.5;
  --headings-line-height: 1.1;
  --fw-normal: 400;
  --fw-bold: 700;
  --clr-p-orange: hsl(26, 100%, 55%);
  --clr-primary: 26, 100%, 55%;
  --clr-p-pale-orange: hsl(25, 100%, 94%);
  --clr-very-dark-blue: hsl(220, 13%, 13%);
  --clr-dark-grayish-blue: hsl(219, 9%, 45%);
  --clr-grayish-blue: hsl(220, 14%, 75%);
  --clr-light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-20op: hsla(0, 0%, 0%, 0.2);
  --transition-base-timing: 0.3s;
  --nav-zIndex: 500;
  --cart-zIndex: 600;
  --modal-zIndex: 700;
  --spacingX: 2rem;
  --br-main: 8px;
}

body {
  font-family: var(--base-ff);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}
body::after {
  content: "";
  position: fixed;
  display: block;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: var(--visibility, hidden);
  opacity: var(--opacity, 0);
}
.overlay-open {
  --visibility: visible;
  --opacity: 1;
}
.no-scroll {
  overflow: hidden;
}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--headings-line-height);
}
img:not(.logo) {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
button {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}
